// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  border-style: solid;
  border-width: 10px;
  border-color: green;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #EBF5FF;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

p {
  text-align: center;
}

img {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#artist {
  color: green;
  font-size: 30px;
}

#title {
  color: green;
  font-size: 25px;
}

#description {
  margin-left: 300px;
  margin-right: 300px;
}